<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Flood Predictor</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="Flood Predictor,Machine Learning,Data Visualization"
      name="keywords"
    />
    <meta
      content="Flood Predictor is a tool that uses
    Machine Learning and Data Visualization to show you
    plots and heatmaps with realtime flood information, as well
    locational predictions about future floods and potential damage."
      name="description"
    />

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" />
    <link href="img/favicon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS File -->
    <link
      href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Libraries CSS Files -->
    <link
      href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}"
      rel="stylesheet"
    />
    <!-- Main Stylesheet File -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header">

      <div class="container">
        <div class="logo float-left">
          <a href="index.html" class="scrollto"><img style="margin-top: -2px; min-height: 40px" src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-fluid"></a>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="plots.html">Plots</a></li>
            <li><a href="heatmaps.html">Heatmaps</a></li>
            <li class="active"><a href="satellite.html">Satellite</a></li>
            <li><a href="predicts.html">Predict</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- #header -->

    <main id="main">
      <br /><br /><br /><br /><br />
      <!--==========================
      Services Section
    ============================-->
      <section id="services" class="section-bg">
        <div class="container">
          <header class="section-header">
            <h3>Satellite Image Analysis</h3>
          </header>

          <br>
          <br>

          <div class="row">
            <div class="col-lg-12" align="center">
              <form class="form-inline" method="POST" action="satellite.html" style="display: inline-block;">
                <div class="form-group">
                  <div class="input-group">
                    <select name="place" class="selectpicker form-control" style="width:150px;">
                      {% for item in data %}
                      <option value="{{ item.name }}" {{ item.sel }}>{{ item.name }}</option>
                      {% endfor %}
                    </select>
                    <select name="date" class="selectpicker form-control" style="width:150px;margin-left:15px;">
                      {% for item in months %}
                      <option value="{{ item.name }}" {{ item.sel }}>{{ item.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <button type="submit" class="btn btn-default" style="margin-left:15px;background-color:#1bb1dc;color:white;">Go</button>
                </div>
              </form>
            </div>

            <br><br><br><br>

            <div class="col-lg-12" align="center">
              <h3>{{ text }}</h3>
              <img width=1000 src="data:image/png;base64, {{ image_file }}" />
              <img style="margin-top:35px;margin-bottom:20px;" width=900 src="{{ url_for('static', filename='processed_satellite_images/cbar.png') }}">
            </div>

          </div>
        </div>
      </section>

      <!-- #services -->
    </main>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mobile-nav/mobile-nav.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
